.main_content_list {
  list-style: none;
  padding: 0px 16px;
  width: 128px;
  font-size: 18px;
  height: 49px;
  display: flex;
  display: flex;
  justify-content: center;
}
.parent_div {
  display: grid;
  gap: 36px;
}
.main_content_list a.active-link {
  font-weight: bold;
  color: #141263;
}
.unorder_list .active-link {
  border-bottom: 2px solid #141263;
  border-width: 4px;
  border-radius: 4px;
}
.main_content_list a {
  color: #3a3a3a;
  text-decoration: none;
  display: flex;
  align-items: center;
  height: 49px;
  font-size: 16px;
}
.unorder_list {
  height: 49px;
  margin-bottom: 0px;
  padding-left: 0px;
}
.nav_height {
  height: 90px;
  padding-top: 42px;
}
.body_color_right {
  padding: 0px 36px 0px 0px !important;
}
.Filters {
  width: 97px;
  height: 47px;
  border: 1px solid #141263;
  color: #141263;
  border-radius: 8px;
  background-color: transparent;
  font-weight: bold;
  font-size: 16px;
}
.Save_aProject {
  width: 97px;
  height: 47px;
  border: 1px solid #141263;
  color: #141263;
  border-radius: 8px;
  background-color: transparent;
  font-weight: bold;
  font-size: 16px;
}
.sidebar-container {
  position: relative;
}

.sidebar.open {
  right: 0;
}

.sidebar.closed {
  right: -512px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(1px);
  z-index: 800;
}
.filter_bar {
  display: grid;
  gap: 20px;
}
.sidebar {
  position: fixed;
  top: 0;
  right: -512px;
  height: 100vh;
  /* width: 512px;  */
  background-color: #ffffff;
  z-index: 900;
  transition: right 0.3s ease;
  overflow-y: auto;
}

.sidebar.open {
  right: 0;
}

.sidebar.closed {
  right: -512px;
}

.filter_section {
  display: grid;
  gap: 24px;
}
.border-end {
  padding: 32px 62px 32px 32px;

  /* max-height: calc(100vh - 32px); */
  overflow-y: auto;
  height: 100vh;
}
.border-end::-webkit-scrollbar {
  display: none;
}
.slider_content_box {
  display: grid;
  gap: 45px;
}
.button_bar {
  gap: 20px;
}

.form-check-box {
  display: grid;
  gap: 14px;
}
.form-check {
  display: flex !important;
  gap: 12px;
  margin-bottom: 0px !important;
}
.filter_apply_btn {
  background-color: #141263;
  color: white;
}

tbody .table_data_row:nth-child(even) {
  background-color: #f9f9f9 !important;
}
tbody .table_data_row:nth-child(odd) {
  background-color: white;
}
.table {
  --bs-table-bg: transparent !important;
  border-collapse: separate;
  border-spacing: 0;
  border-radius: 8px;
  overflow: hidden;
}

.tbody > :not(caption) > * > * {
  /* background-color:transparent; */
}
.cross_icon {
  width: 389px;
}
.cross_icon .close-btn {
  cursor: pointer;
}
.cross_icon {
  width: 389px;
}
.close-btn img {
  width: 24px;
  height: 24px;
}
.table2 {
  display: none;
}
.form-check-input:checked {
  background-color: #141263 !important;
  border-color: #141263 !important;
}
.table_data_row_selected td {
  padding: 0px 0px 0px 12px !important;
}
.table_row_selected th {
  padding: 0px 0.5rem 0px 12px !important;
}
.full_name_selected {
  width: 219px !important;
}
.Homepage_Selected {
  width: 211px !important;
}
.terms__Selected {
  width: 280px !important;
}
.Data_provider_Selected {
  width: 183px !important;
}
.modality_selected {
  width: 172px !important;
}
.delete {
  height: 40px;
  width: 40px;
}
.home_page {
  color: #141263;
  font-size: 16px;
  font-weight: bold;
}
.head_check_box td {
  padding: 16px 8px 8px 8px !important;
}
.Save_aProject {
  width: 148px;
  height: 43px;
}
.Bill_Material {
  width: 259px;
  height: 43px;
  border-radius: 6px;
  font-weight: 600;
  border: none;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(0.5px);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-content {
  background-color: #ffffff !important;
  width: 520px !important;
  height: 300px !important;
  padding: 36px 24px 24px 24px;
  border-radius: 12px !important;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  position: relative;
  text-align: center;
  display: grid;
  gap: 24px;
}
.cross_btn img {
  width: 32px;
  height: 32px;
}
.cross_btn {
  background-color: transparent;
  border: none;
  position: relative;
  top: -11px;
  right: -7px;
}
.input-wrapper {
  position: relative;
}
.input-text {
  border: 1px solid #e7e7e7;
  border-radius: 8px;
  position: relative;
  width: 472px;
  line-height: 6ex;
  height: 48px;
  padding-left: 8px;
}
.input-text::placeholder {
  color: #0f0f0f;
  font-size: 16px;
  font-weight: 300;
}
.label-inputtext {
  position: absolute;
  top: -2.2ex;
  z-index: 1;
  left: 0.6em;
  background-color: #ffffff;
  font-size: 12px;
  padding: 3px;
  font-size: 12px;
  color: #0f0f0f;
}
.input_text_container {
  display: grid;
  gap: 16px;
}
.Catalog_pop_box {
  display: grid;
  gap: 24px;
}
.Save_as_project {
  font-size: 20px;
  font-weight: bold;
}
.modal_pop {
  height: 250px;
}
.main_box_catalog {
  display: grid;
  gap: 24px;
}
.overflows {
  display: grid;
  gap: 24px;
}
@media (min-width: 280px) {
  thead th {
    white-space: nowrap;
  }
  .table_data_row td {
    white-space: nowrap;
  }
}
.overflows {
  overflow-x: auto;
}
@media (max-width: 786px) {
  .body_color_right {
    padding: 0px 5px 0px 5px !important;
  }
  .toggle-icon {
    padding: 16px 0px;
    left: 16px;
  }
  .Save_aProject {
    width: 131px;
    height: 43px;
    font-size: 13px;
  }
  .button_bar {
    gap: 10px;
  }
  .Bill_Material {
    width: 198px;
    height: 47px;
    font-size: 13px;
  }
  .main_content_list {
    padding: 0px 16px 0px 0px;
  }
}

.botton_comb {
  margin-bottom: 7px;
}

@media (max-width: 768px) {
  .modal-content {
    width: 90% !important;
    height: auto !important;
    padding: 24px 16px !important;
    gap: 16px;
  }
  .modal-content .input-text {
    width: 100%;
    height: 40px;
    font-size: 14px;
    padding-left: 8px;
  }

  .modal-content .Filters {
    width: 80px;
    height: 40px;
    font-size: 14px;
  }

  .modal-content .cross_btn img {
    width: 32px;
    height: 32px;
  }

  .modal-content h5 {
    font-size: 18px;
  }
}

@media (max-width: 480px) {
  .modal-content {
    width: 95% !important;
    padding: 16px !important;
    gap: 12px;
  }
  .Selected_link_text {
    justify-content: start;
    width: auto;
    padding: 0px;
  }
  .Filters {
    margin-right: 15px;
  }
  .Save_aProject {
    margin-right: 0px;
  }
  .modal-content .input-text {
    width: 100%;
    height: 36px;
    font-size: 13px;
    padding-left: 8px;
  }

  .modal-content .Filters {
    width: 70px;
    height: 36px;
    font-size: 12px;
  }
  .Save_aProject {
    width: 70px;
    height: 36px;
    font-size: 12px;
  }
  .modal-content .cross_btn img {
    width: 32px;
    height: 32px;
  }

  .modal-content h5 {
    font-size: 16px;
  }
}
@media (max-width: 1024px) {
  .border-end {
    padding: 16px 32px;
  }

  .cross_icon {
    width: 100%;
    justify-content: space-between;
  }

  .filter_section {
    gap: 20px;
  }

  .slider_content_box {
    gap: 20px;
  }
}

@media (max-width: 768px) {
  .border-end {
    padding: 16px;
    height: auto;
  }

  .filter_section {
    gap: 16px;
  }

  .slider_content_box {
    gap: 16px;
  }

  .cross_icon {
    width: 100%;
  }

  .button_bar {
    gap: 10px;
  }

  .Filters {
    width: 97px;
    height: 47px;
    font-size: 14px;
  }
  .Save_aProject {
    width: 97px;
    height: 47px;
    font-size: 14px;
  }
  .form-check-box {
    gap: 12px;
  }

  .Source label,
  .Source_check_box label {
    font-size: 14px;
  }
}
.filter_section {
  display: grid;
  gap: 24px;
}
@media (max-width: 480px) {
  .border-end {
    padding: 12px;
  }

  .filter_section {
    gap: 12px;
  }

  .slider_content_box {
    gap: 12px;
  }

  .cross_icon {
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }

  .Filters {
    width: 100px;
    font-size: 12px;
  }
  .Save_aProject {
    width: 100px;
    font-size: 12px;
  }
  .Source label,
  .Source_check_box label {
    font-size: 12px;
    display: flex;
    align-items: center;
  }

  .form-check-box {
    gap: 10px;
  }

  .Source input,
  .Source select {
    font-size: 12px;
    padding: 8px;
  }
  .form-select {
    width: 264px !important;
  }
  .page {
    padding: 0px 10px;
  }
}

table {
  margin-bottom: 0px !important;
}
.pages {
  height: 36px;
  display: flex;
  gap: 8px;
}
.rowsPerPage {
  font-size: 14px;
  height: 36px;
  align-content: center;
}
#rowsPerPage {
  font-size: 14px;
  font-weight: bold;
  border: none;
  width: 42px;
  height: 36px;
  padding: 8px 0px;
}

tbody {
  /* display: block; */
  max-height: 500px; /* Same as the container */
  overflow-y: auto;
  width: 100%;
}

.color-icon-button {
  cursor: pointer;
  color: #0f0f0f;
}

.cursor-default {
  cursor: default;
  color: #3a3a3a;
}

.overflows {
    max-height: 730px; /* Adjust as needed */
    overflow-y: auto; /* Scrollable when necessary */
  }
