.main_content_list{
list-style: none;
padding: 0px 16px;
font-size: 18px;
height: 49px;
    align-items: center;
    display: flex;
}
.main_content_list  a {
    height: 49px;
}
  .parent_div{
    display: grid;
    gap: 36px;
  }
  .main_content_list a.active-link {
    font-weight: bold;
    color: #141263;
  }
  .unorder_list .active-link{
    border-bottom: 2px solid  #141263;

  }
.main_content_list a{
    color: #3A3A3A;
    text-decoration: none;
    display: flex;
    align-items: center;
}
.unorder_list{
    height: 49px;
}
.nav_height{
    height: 90px;
    padding-top: 42px;
}
.body_color_right{

    padding: 0px 36px 0px 0px !important;
    
}
.Filters{
    width: 97px;
    height: 47px;
    border: 1px solid #141263;
    color:#141263 ;
    border-radius: 8px;    
    background-color: transparent;
    font-weight: bold;
    font-size: 16px;

}
.sidebar-container {
    position: relative;
}


.sidebar {
    position: fixed;
    top: 0;
    right: -512px;
    height: 796px; 
    width: 512px; 
    background-color: #f8f9fa; 
    z-index: 900; 
    transition: right 0.3s ease; 
}

.sidebar.open {
    right: 0;
}

.sidebar.closed {
    right: -512px; 
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5); 
    backdrop-filter: blur(5px); 
    z-index: 800; 
}
.border-end{
    padding: 32px 32px 62px 32px;
}
.filter_bar{
    
        display: grid;
        gap: 20px;
    
}
.sidebar {
    position: fixed;
    top: 0;
    right: -512px;      
    height: 100vh;     
    width: 512px; 
    background-color: #f8f9fa; 
    z-index: 900; 
    transition: right 0.3s ease; 
    overflow-y: auto;   
}

.sidebar.open {
    right: 0;            
}

.sidebar.closed {
    right: -512px;       
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5); 
    backdrop-filter: blur(5px); 
    z-index: 800; 
}

.border-end {
    padding: 32px 32px 62px 32px;

    max-height: calc(100vh - 32px);
    overflow-y: auto; 
}
.slider_content_box{
    display: grid;
    gap: 45px;
}
.button_bar{
    gap: 20px;
}
.filter_apply_btn{
    background-color: #141263;
    color: white;
}