.Slide_bar_width{
width: 310px;
height: 796px;
padding: 42px 16px 14px 17px;
gap: 24px;
background-color: #FFFFFF;
}
.logo_images img{
    width: 201px;
    height: 49px;
}
.logo_images ul{
    gap: 12px;
}
.logo_images {
    display: flex;
}
.close-icon{
    width: 70px;
    text-align: end;
    display: flex;
    align-items: center;
    justify-content: end;
}
@media(min-width:1087px){
.close-icon{
    display: none;
}
}
.nav-link{
    padding: 0px !important;
    color: #00140E !important;
    font-size: 16px;
}
.nav-icon img{
    width: 24px;
    height: 24px;
}
.nav-item {
    display:flex;
    gap: 12px;
    width: 272px;
    height: 48px;
    align-items: center;
}
.nav-icon{
padding-left: 20px;
}
.nav{
    gap: 12px;
}
.nav a{
    height: 48px;
}
.active-links {
    background-color: #E8E7EF ;
    border-radius: 12px;
    color: #141263;
    font-weight: bold;
}
.dots{
    height: 8px;
    width: 8px;
}



.Slide_bar_width {
    width: 310px;
    height: 100vh;
    padding: 42px 16px 14px 17px;
    background-color: #FFFFFF;
    transition: transform 0.3s ease; 
}

.Slide_bar_width.open {
    transform: translateX(0); 
}

@media (max-width: 1087px) {
    .Slide_bar_width {
        position: fixed;
        left: 0;
        top: 0;
        transform: translateX(-100%);
        height: 100%;
        z-index: 1000;
    }
}

.toggle-icon {
    font-size: 24px;
    color: #000;
    cursor: pointer;
    padding: 16px;
    display: none; 
    position: absolute;
    top: -14px;
    left: 25px;
    z-index: 1;
}

@media (max-width: 1087px) {
    .toggle-icon {
        display: block; 
    }
}

.nav-link {
    padding: 0px !important;
    color: #00140E !important;
    font-size: 16px;
}

.nav-item {
    display: flex;
    gap: 12px;
    align-items: center;
}

.active-links {
    background-color: #E8E7EF;
    border-radius: 12px;
    color: #141263;
    font-weight: bold;
}
