body {
  font-family: Arial, sans-serif;
}

.nav-link {
  font-size: 14px;
}

button.btn-link {
  padding: 0;
}
.homepage_Links a {
  color: #3c3a7e;
  font-weight: bold;
  font-size: 16px;
}
.container-fluid {
  padding-left: 30px;
  padding-right: 30px;
}
.main_container_box {
  display: flex;
  gap: 24px;
  height: 100vh;
}
input[type='text'],
select {
  border-radius: 8px;
}
.Source_check_box {
  gap: 16px;
  display: grid;
}
/* .form-check-label {
  margin-left: 5px;
} */
.form-check-label {
  font-size: 16px;
  font-weight: 400;
  color: #767676;
}
aside {
  display: grid;
  gap: 24px;
}
.Source {
  display: grid;
  gap: 12px;
}

aside h5 {
  font-size: 25px;
  font-weight: bold;
  color: #3d3c42;
  margin-bottom: 0px;
}
main {
  display: grid;
  gap: 20px;
}
main h5 {
  font-size: 20px;
  font-weight: 700;
  color: #121212;
}
.table_row {
  height: 53px;
}
/* .table_row th{
  padding: 0px !important;
} */
.table_row td {
  font-size: 13px;
}
.table_data_row td {
  /* padding: 0px !important; */
  font-size: 16px;
}
.form-check-input {
  margin-right: 5px;
}
.form-check {
  display: flex;
  gap: 12px;
}
/* .form-check-label{
  margin-top: 3px;
} */
.form_check_data {
  display: grid;
  gap: 14px;
}
.table {
  /* background-color: white; */
  border-collapse: collapse;
}

.table-bordered {
  border: 1px solid #dcdcdc;
}
tbody tr {
  height: 63px;
}
tr td {
  align-content: space-evenly;
}
.head_check_box {
  align-content: center;
  text-align: center;
  width: 72px;
}
.head_check_box {
  padding-top: 14px !important;
}
.thead_first {
  padding: 8px !important;
}

thead th {
  text-align: left;
  color: white;
  font-weight: bold;
  align-content: center;
  font-size: 14px;
  font-weight: 400;
}

tbody td {
  font-size: 15px;
  color: #3a3a3a !important;
  font-weight: 400;
}
.pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pagination button {
  border-radius: 5px;
}

.pagination span {
  font-size: 14px;
}
th {
  background-color: #141263 !important;
  color: #ffffff !important;
}
.table-bordered > :not(caption) > * > * {
  border-width: 0 !important;
}

input[type='checkbox'] {
  width: 18px;
  height: 18px;
  accent-color: #141263;
  border: 1px solid #9e9e9e;
}
.form-check-box {
  display: grid;
  gap: 14px;
}
.form-check-input {
  margin-right: 0px !important;
}

.full_name {
  width: 173px;
}
.modality {
  width: 86px;
}
.Data_provider {
  width: 120px;
}
.Data_availablity {
  width: 136px;
}
.personal_data {
  width: 160px;
}
.terms {
  width: 110px;
}
.Homepage {
  width: 208px;
}

input[type='text'],
select {
  border-radius: 8px;
}

.form-label {
  margin-bottom: 0px !important;
  font-size: 16px;
}
.Source_check_box {
  gap: 16px;
  display: grid;
}
.form-labels {
  font-weight: 600;
  font-size: 16px;
  color: #3a3a3a;
}

/* .form-check-label {
  margin-left: 5px;
} */
.form-check-label {
  font-size: 16px;
  font-weight: 400;
  color: #767676;
}

.form-check-box {
  display: grid;
  gap: 14px;
}
.form-check-input {
  margin-right: 0px !important;
}
.form-control {
  font-size: 14px !important;
  height: 44px;
  font-weight: 400;
  width: 394px !important;
  border: 1px solid #9e9e9e !important;
}
.form-select {
  font-size: 14px !important;
  height: 44px !important;
  font-weight: 400 !important;
  width: 394px !important;
  border: 1px solid #9e9e9e !important;
  color: #767676 !important;
}

@media (max-width: 786px) {
  .main_container_box {
    display: flex;
    gap: 0px;
  }
}
@media (max-width: 480px) {
  .form-select {
    width: 264px !important;
  }
  .form-control {
    width: 268px !important;
  }
}

.supabase-auth-ui_ui-message {
  color: red !important;
}
